md-input-container >>> .md-input-underline {
    margin-top: 7px;
}

md-card-header >>> .md-card-header-text {
    margin: 0px;
}

#sort {
    min-width: 150px;
}

md-progress-circle {
    margin: 0px auto;
}