<md-card style="margin-bottom:10px;">
  <md-card-content>
    <div style="float: right">
      <md-input-container>
        <input md-input placeholder="Search" [(ngModel)]="search" />
      </md-input-container>
      <md-select id="sort" placeholder="Sort by" [(ngModel)]="sort">
        <md-option value="name">
          Name
        </md-option>
        <md-option value="price">
          Price - Low to high
        </md-option>
        <md-option value="-price">
          Price - High to low
        </md-option>
      </md-select>
    </div>
    <div style="clear: both"></div>
  </md-card-content>
</md-card>
<md-card *ngIf="!productsLoaded">
  <md-card-content>
    <md-progress-circle mode="indeterminate">
    </md-progress-circle>
  </md-card-content>
</md-card>
<div *ngIf="productsLoaded" class="flex-container" fxLayout="row" fxLayoutWrap fxLayout.xs="column">
  <div class="flex-item" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33.33%" *ngFor="let product of products | filter:'name':search | orderBy:sort"
    [style.padding.px]="5" [@productCardIn]="'in'">
    <app-product-card [product]="product"></app-product-card>
</div>
</div>