<md-toolbar color="primary">
  <span>Demo app</span>
</md-toolbar>

<div class="flex-container" fxLayout="row" fxLayoutWrap fxLayout.xs="column">
  <div class="flex-item" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let item of items" [style.padding.px]="5">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header> 
      <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
          very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <a md-button routerLink="buy">BUY NOW</a>
      </md-card-actions>
    </md-card>
  </div>
</div>
